
.container-fluid {
  overflow: hidden;
  min-width: 220px;
}
.bg-img img {
  float:right;
}

.bg-1 {
  background-color: #030207;
  color: #da8044;
}
.bg-2{
  background-color: #da8044;
  color: #030207;
}


.header {
  padding: 2em;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}

.name-header {
  /* must be after .header */
  text-align: right;
  padding-bottom: 4em;
}

.section-text {
  text-align: left;
  padding-bottom: 2em;
}
