
.container-fluid {
  overflow: hidden;
  min-width: 220px;
}

/* backgrounds */
.bg-img img {
  float:right;
}
.bg-1 {
  background-color: #030207;
  color: #da8044;
}
.bg-2 {
  background-color: #9a4004;
  color: #000;
}

/* section headers */
.header {
  padding: 2em;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.section {
  text-align: left;
  padding: 2em;
}

.section-text {
  opacity: 0.8;
}
